/* Variables CSS */
:root {
  --primary-font: Arial, sans-serif;
  --text-color: #9099a1;
  --link-color: gray;
  --link-hover-color: aqua;
  --box-background: white;
  --box-border-radius: 0.5em;
  --box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.1);
}

/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  overflow: hidden;
  color: var(--text-color);
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  height: 15vh;
}

/* Perfil */
.profile {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.profile img {
  border-radius: 5em 5em 1em 5em;
  margin-right: 10px;
  width: 100px;
  height: 100px;
  border: 2px solid white;
}

.profile p {
  font-size: 0.8em;
}

.profile .user-info {
  display: flex;
  flex-direction: column;
}

.profile .user-info .username {
  font-weight: bold;
  font-size: 1.2em;
}

.profile .user-info .instagram {
  display: flex;
  color: #b4d0e5;
}

/* Contenido */
.content {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  height: 85vh;
}

/* Columnas */
.column {
  display: flex;
  flex-direction: column;
}

.column > div,
.column > * > * {
  margin-top: 10px;
  background-color: var(--box-background);
  border-radius: var(--box-border-radius);
  padding: 20px;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.column > *.auto-height {
  flex-grow: 1;
}

/* Columna derecha */
.right-column {
  margin-left: auto;
  text-align: right;
  padding: 20px;
  gap: 10px;
}

.right-column a {
  text-decoration: none;
  color: var(--link-color);
}

.right-column a:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}

/* Secciones específicas */
#double-column {
  display: flex;
  align-items: center;
}

#double-column > div {
  flex-grow: 1;
  margin: 0 5px;
  margin-top: 10px;
  height: 25vh;
}

#audience,
#post,
#rate {
  height: 4vh;
  font-weight: 900;
}

#audience-stats,
#post-horary-graph {
  height: 8vh;
}

#brands-graph,
#engagement-rate-graph {
  height: 18vh;
}
