:root {
  --primary-font: Arial, sans-serif;
  --text-color: #9099a1;
  --link-color: gray;
  --link-hover-color: aqua;
  --box-background: white;
  --box-border-radius: 0.5em;
  --box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  overflow: hidden;
  color: var(--text-color);
  min-width: 400px;
  min-height: 1000px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-image {
  border-radius: 5em 5em 1em 5em;
  margin-right: 10px;
  margin-left: 20px;
  width: 100px;
  height: 100px;
  border: 2px solid white;
}

.profile p {
  font-size: 0.8em;
}

.profile .user-info {
  display: flex;
  flex-direction: column;
}

.profile .user-info .username {
  font-weight: 500;
  font-size: 1.6em;
  margin-bottom: 0.2em;
}

.profile .user-info .instagram {
  display: flex;
  align-items: center;
  color: #b4d0e5;
}

.profile .user-info .instagram > span {
  margin-left: 5px;
}

.content {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  height: 80vh;
}

.circle-graphs {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.chart-container {
  margin-right: 20px;
}

.chart-container:last-child {
  margin-right: 0;
}

.chart {
  width: 30px;
  height: 30px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column > div,
.column > * > * {
  margin-top: 10px;
  border-radius: var(--box-border-radius);
  padding: 15px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column > *.auto-height {
  flex-grow: 1;
}

.column > div > graph,
graph {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  box-shadow: none;
}

.right-column {
  margin-left: auto;
  text-align: left;
  margin-right: 20px;
}

.right-column a {
  text-decoration: none;
  color: var(--link-color);
}

.right-column a:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}

#date-data {
  font-size: 0.8em;
}

#territory-graph {
  height: 200%;
}

#double-column {
  display: flex;
  align-items: center;
}

#double-column > div {
  flex-grow: 1;
  margin: 0 5px;
  width: 50%;
  margin-top: 10px;
  height: 25vh;
}

#audience,
#post,
#rate {
  height: 4vh;
  font-size: 1.2em;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

#audience > *,
#post > *,
#rate > * {
  box-shadow: none;
}

#audience.circle-icon > i,
#post.circle-icon > i,
#rate.circle-icon > i,
i.circle-icon {
  background-color: #4c99e2;
  border-radius: 50%;
  color: white;
}

i.circle-icon {
  background-color: rgb(10, 10, 58);
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

#e13-audiencia,
#e13-alcance,
#e23-impresiones,
#e23-reproducciones,
#e23-engagement {
  display: flex;
  flex-direction: row;
  background-color: none;
  box-shadow: none;
  width: 100%;
  height: 1px;
}

#impresiones-card,
#reproducciones-card,
#engagement-card {
  height: 9vh;
}

.valor {
  margin-left: auto;
  font-weight: bold;
}

.porcentajes {
  display: flex;
  flex-direction: row;
  gap: 10em;
  font-size: 0.8em;
  box-shadow: none;
}

.dato-vertical {
  box-shadow: none;
  background: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#audience-stats {
  height: 8vh;
  display: flex;
  flex-direction: row;
  gap: 3em;
}

#post-horary-graph-card {
  height: 15vh;
}

#brands-graph-card,
#engagement-rate-graph-card {
  height: 18vh;
}

#country-graph-card {
  justify-content: center;
  align-items: center;
}

.age-bar,
.country-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
}

.country-bar {
  margin-top: 10px;
  margin-bottom: 15px;
}

.age-label,
.country-label {
  flex-basis: 50px;
  text-align: center;
  padding-right: 2em;
}

.age-percentage,
.country-percentage {
  flex-basis: 60px;
  text-align: justify;
  padding-left: 2em;
}

.age-progressbar,
.country-progressbar {
  flex-grow: 1;
}

.country-flag {
  width: 20px;
  height: 15px;
}

progress {
  height: 5px;
  border-radius: 7px;
}

progress::-webkit-progress-bar {
  background-color: lightgray;
  border-radius: 7px;
}

progress::-webkit-progress-value {
  background-color: #4aa0eb;
  border-radius: 7px;
}

progress.country-progressbar::-webkit-progress-value {
  background-color: #dc686c;
  border-radius: 7px;
}

#brands-graph-card {
  text-align: center;
  contain: content;
  padding: 30px;
}

.brands-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: fit-content;
  margin: 0 auto;
}

.brand-item {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-image {
  max-width: 100%;
  height: auto;
  width: 60px;
}

.brand-name {
  margin-top: 5px;
  font-size: 16px;
}
