:root {
  --primary-text-color: #202020;
  --secondary-text-color: #535353;
  --shadow-box-color: rgba(216, 216, 220, 0.75);
}

body {
  background-color: #fefcfe;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.principal-logo {
  width: 5em;
  height: auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5em;
  justify-content: center;
  min-width: 350px;
}

.card {
  display: flex;
  position: relative;
  border: 0.2em solid #d8d8dc;
  margin: 0.8em;
  padding: 1em;
  width: 500px;
  height: 400px;
  border-radius: 0.5em;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px var(--shadow-box-color);
  overflow: hidden;
  color: var(--secondary-text-color);
}

.card::before {
  content: "";
  background-image: url("./src/maxresdefault.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.1;
  scale: 2;
}

.card-content {
  display: flex;
}

.card-left {
  width: 50%;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-right {
  flex: 1;
  flex-direction: column;
  padding: 1em;
}

.container {
  position: relative;
  /* border-radius: 3em 6.5em 3em 6.5em; */
}

.profile-image {
  width: 100%;
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  border: 0.3em aqua solid;
  border-radius: 3em 6.5em 3em 6.5em;
  transform-origin: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: inherit;
  height: inherit;
  border-radius: 3em 6.5em 3em 6.5em;
  border: transparent;
  border: 0.3em aqua solid;
  margin-bottom: 0.3em;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #b8871d;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container:hover .overlay {
  opacity: 0.8;
}

.profile-name {
  margin-top: 0;
  font-size: 1.3em;
  color: var(--primary-text-color);
}

.profile-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-label {
  display: flex;
}

.flag-icon {
  width: 30px;
  height: 20px;
  margin-right: 0.5em;
}
